@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

body,html {
    width: 100%;
    height: 100%;
}

body{
    background-color:azure; 
}

a{
    color: #edbc7b;
    text-decoration: none;
    transition: all.6s ease;
}

a:hover {
    color: #fcece1;
    text-decoration: none;
    transition: all.6s ease;
}


img{
    max-width: 100%;
    height: auto;
    width: auto\9; /*ie8 */
    transition: all 3s ease-out;
}

hr{
    display:block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

header {
    float: left;
    background-color: #343434;
    width: 99.4%;
    padding: 0.3%;
    border-bottom: 5px solid #59595a;
    font-family: 'Jost', sans-serif;
}

header>div#logo>a>img {
    width: 50px;
    height: 50ps;
    float: left;
}

header>div#logo>a{
    color:white;
}

header>div#logo>a>span{
    font-size:2em;
    margin-left: 10px;
    font-family: 'Jost', sans-serif;
}

header>div#>logo>a>img {
    margin-left:  15%;
}

#logo{
    float: left;
    width: 37%;
}

#about{
    float: right;
    width: 5%;
}
#about{ text-align: center;
font-size: 1.4em;
padding-top: 10px;
}
#about>a{
    color:white;
}
#about>a:hover {
    color: #dfdfdf;
    margin-left:2%;
}

.btn:hover {
    border-bottom: 2px solid rgba(217, 92, 72, 1);
    margin-top:7px;
    
}

.btn:active {
    border-bottom: 0;
    margin-top: 9px;
}
.btn {
    float: right;
    margin-right: 3%;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px 9px;
    font-size 1.2em;
    background-color: rgba(236, 101, 80,1);
    text-shadow: #454545 0 0 2px;
    border-bottom: 4px solid rgba(217,91,72,1);
    color:aliceblue;
    font-family: 'Jost', sans-serif;
}



nav{
    background-color: white;
    width: 99.4%;
    padding: 7px 0.3%;
    float: left;
    border-bottom: 2px solid #ebebeb;
    
}

nav a{
    color:#323232;
    font-size:1.5em;
    margin-left:5%;
    
}
nav a:hover{
    color:#868686;
}
nav a:last-child{
    margin-right: 10px;
}



#search {
    float: right;
    color: #7d7d7d;
    cursor: pointer;
    font-size:1.4em;
    margin-right: 10px;
}


#wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content{
    flex: 1 0 auto;
}

footer {
    float: left;
    background-color: #343434;
    width: 98%;
    padding: 1%;
    border-top: 5px solid #59595a;
    font-family: 'Jost', sans-serif;
}

#site_name {
    margin-right: 5%;
    color:aliceblue;
    font-size: 1.3em;
    float: right;
}

@media (max-width: 1080px) {
    #clear {
        clear: both;
    }
}
#footer_menu {
    color:aliceblue;
    font-size: 1.2em;
}

#footer_menu>a {
    margin-left:2%;
    color:aliceblue;
}

#footer_menu>a:hover, #rights>a:hover {
  border-bottom: 1px solid silver;
    color:#aeaeae;
}

#rights {
    float: left;
    margin-left: 5%;
    font-size: 1.1em;
    margin-top:20px;
    
}

#rights>a {
    color:aliceblue;
    
}