@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

body,html {
    width: 100%;
    height: 100%;
}

a{
    color: #edbc7b;
    text-decoration: none;
    transition: all.6s ease;
}

a:hover {
    color: #fcece1;
    text-decoration: none;
    transition: all.6s ease;
}


img{
    max-width: 100%;
    height: auto;
    width: auto\9; /*ie8 */
    transition: all 3s ease-out;
}

hr{
    display:block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

header {
    float: left;
    background-color: #343434;
    width: 99.4%;
    padding: 0.3%;
    border-bottom: 5px solid #59595a;
}

header>div#logo>a>img {
    width: 50px;
    height: 50ps;
    float: left;
}

header>div#logo>a{
    color:white;
}

header>div#logo>a>span{
    font-size:2em;
    margin-left: 10px;
    font-family: 'Jost', sans-serif;
}

header>div#>logo>a>img {
    margin-left:  15%;
}

#logo{
    float: left;
    width: 37%;
}

#about{
    float: right;
    width: 5%;
}
#about{ text-align: center;
font-family: 'Jost', sans-serif;
font-size: 1.4em;
padding-top: 10px;
}
#about>a{
    color:white;
}
#about>a:hover {
    color: #dfdfdf;
    margin-left:2%;
}

#wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content{
    flex: 1 0 auto;
}

footer {
    float: left;
    background-color: #343434;
    width: 99.4%;
    padding: 0.3%;
    border-top: 5px solid #59595a;
}
